:root {
  --primary-color: #243763;
  --text: #edf0f7;
  --sidebar-gray: #111926;
  --sidebar-gray-light: #f8f7fd;
  --sidebar-gray-background: #ff6e31;
  --success: #00c896;
}

html {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--primary-color);
  width: 18rem;
  height: 100vh;
  padding: 4px 12px;
  display: flex;
  color: white;
  flex-direction: column;
  transition: width 0.3s linear;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: margin-left 0.3s;
  margin-left: 30px;
}

body {
  display: flex;
}

body.collapsed main {
  margin-left: 30px;
}

body.collapsed nav {
  width: 80px;
}

body.collapsed .hide {
  position: absolute;
  display: none;
  pointer-events: none;
}

.logoIcon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  padding-left: 3px;
}

.sidebar {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  min-height: 40px;
  padding: 16px 0px;
}

body.collapsed .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  color: white;
}

.logo span {
  color: #ff6e31;
  font-style: italic;
}

.expand-btn {
  top: 16px;
  right: -62px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  cursor: pointer;
  box-shadow: var(--primary-color);
}

.expand-btn img {
  transform: rotate(180deg);
  stroke: var(--primary-color);
  width: 38px;
  height: 38px;
}

body.collapsed .expand-btn img {
  transform: rotate(360deg);
}

.sidebar-links {
  padding: 8px 0px;
  border-top: 1px solid var(--sidebar-gray-background);
}

/*? menu links */
.sidebar-links ul {
  list-style-type: none;
  position: relative;
}

.sidebar-links li {
  position: relative;
}

.sidebar-links li a {
  padding: 12px 10px;
  margin: 8px 0px;
  color: var(--sidebar-gray-light);
  font-size: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  height: 56px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.sidebar-links li a img {
  height: 34px;
  width: 34px;
}

.sidebar-links .link {
  margin-left: 30px;
}

.sidebar-links li a:hover,
.sidebar-links li a:focus,
.sidebar-links .active {
  width: 100%;
  text-decoration: none;
  background-color: var(--sidebar-gray-background);
  border-radius: 10px;
  outline: none;
  color: var(--sidebar-gray-light);
}

.sidebar-links .active {
  color: white;
}

/*? account part */
.profile {
  display: flex;
  align-items: center;
  gap: 18px;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding-right: 15px;
}

.avatar {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
}

.avatar:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.online_status {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--success);
  bottom: 3px;
  right: 3px;
}

/* * Tooltip */

.tooltip {
  position: relative;
}

.tooltip .tooltip_content {
  visibility: hidden;
  background-color: var(--sidebar-gray-background);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 12px;
  position: absolute;
  z-index: 1;
  left: 75px;
}

body.collapsed .tooltip:hover .tooltip_content,
body.collapsed .tooltip:focus .tooltip_content {
  visibility: visible;
}

.pemberitahuan img {
  width: 2rem;
}

.content {
  display: flex;
  background: var(--sidebar-gray-light);
  padding: 10px 2rem;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
}

.content img {
  width: 15%;
}

.content h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.content p {
  font-size: 1rem;
}
